{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Admin {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/social_float.css')}}" rel="stylesheet"/>
<div class="container"> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>username</td>
                    <td>email</td>  
                    <td>phone</td>
                    <td>company</td> 
                    <td>status</td>
                    <td>trial</td>
                    <td>due</td>  
                    <td>renew</td>                
                </tr>
                </thead>

                {% for user in users  %}
                    <tbody>
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>  
                            <td>{{ user.phone }}</td>  
                            <td>{{ user.company }}</td>  
                            <td>{{ user.status }}</td>
                            <td>{{ user.trial_date }}</td>
                            <td>{{ user.start_date }}</td>
                            <td>{{ user.renew_date}}</td>                                                       
                            <td><button type="button" class="btn btn-danger" onclick="myFunction()">Delete</button></td>
                            </tr>
                     </tbody>           
                             <script>
                            function myFunction() {
                                 var x = window.confirm("Are You Sure ?");
                                    if(x){
                                           window.location = '/dashboard/admin/delete-user/{{ user.id}}' ;
                                            }
                                     else {
                                           return false;
                                          }
                                    }    
                            </script>


                {% endfor %}





                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>
</div>

{% endblock %}
