{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Attendance {% endblock %}


{% block content %}

<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
            {% if jumlah > 0  %}
              <div class="table-responsive">
            

            <table class="table"> 
                <thead>
                <tr>
                    <td>Nama</td>                    
                    <td>Departement</td>
                    <td>Mulai</td>
                    <td>Sampai</td> 
                    <td>Alasan</td>   
                    <td>Status</td> 
                    <td></td> 
                                
                </tr>
                </thead>
                

                {% for atten in attendances  %}
                    <tbody>
                        <tr>
                            <td>{{ atten.name }}</td>                    
                            <td>{{ atten.departement }}</td>
                            <td>{{ atten.start.strftime("%d-%m-%Y") }}</td>
                            <td>{{ atten.end.strftime("%d-%m-%Y") }}</td>
                            <td>{{ atten.reason }}</td>
                            <td>{{ atten.status }}</td>
                            <td><a href="/dashboard/attendance/employe/edit/{{ atten.id }}" class="btn btn-info">Edit</a></td>                          
                        </tr>
                     </tbody>      
                      
                            


                {% endfor %}





                      </table>
                 </div> 
                 {% else %}
                 <h4>Saat ini belum ada jadwal cuti yang belum di setujui,silakan tambah di profile karyawan anda <a href="/dashboard/employe">disini</a></h4>
                 {% endif %}
               </div>      
          </div>            
     </div>       
</div>

{% endblock %}
