<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easyhrd- Solusi Aplikasi HRD Yang Simple</title>


    <!-- Bootstrap core CSS -->
    <link href="{{url_for ('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/> 

    <!-- Custom fonts for this template -->
    <link href="{{url_for ('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet"/> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{url_for ('static',filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet"/> 

    <!-- Custom styles for this template -->
    <link href="{{url_for ('static',filename='css/creative.min.css')}}" rel="stylesheet"/> 
    <link href="{{url_for ('static',filename='css/creative.css')}}" rel="stylesheet"/> 

    <link href="{{url_for ('static',filename='css/themify-icons.css')}}" rel="stylesheet"/>


  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Easyhrd</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Tentang Kami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Fitur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#pricing">Harga</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Kontak</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/register">Daftar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Masuk</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Simple HRD Solution</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Aplikasi easyhrd akan membantu anda mencatat jadwal cuti dan data pegawai serta memberi review performa pegawai anda.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Tentang Kami</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Pantau Performa Pegawai Anda</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Easyhrd dapat membantu anda memantau performa pegawai anda,menjadwalkan cuti serta memudahkan anda untuk menyimpan data pegawai. Anda bahkan dapat menambah admin untuk melakukan penginputan data,dan anda dapat mengaksesnya kapan saja dan dimana saja</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Fitur Kami!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Fitur Yang Anda Dapat</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa fa-id-card text-primary mb-3 "></i>
              <h3 class="mb-3">Unlimited Employe</h3>
              <p class="text-muted mb-0">Anda bebas menambahkan data karyawan sebanyak banyaknya</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-calendar text-primary mb-3"></i>
              <h3 class="mb-3">Unlimited Data</h3>
              <p class="text-muted mb-0">Anda dapat mencatat data cuti anda sebanyak mungkin</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-user text-primary mb-3"></i>
              <h3 class="mb-3">Add Admin</h3>
              <p class="text-muted mb-0">Anda dapat menambah akun admin yang bertugas melakukan input data</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3"></i>
              <h3 class="mb-3">24/7 Support</h3>
              <p class="text-muted mb-0">Kami dengan senang hati membantu anda bila mengalami kesulitan saat memakai aplikasi</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-dark text-white" id="pricing">
      <div class="container text-center">
        <h2 class="mb-4">Simple and Affordable Pricing</h2>
        <h2 class="mb-4">Rp 1.000.000 / tahun </h2>
        <a class="btn btn-light btn-xl" href="/register">Gratis Coba,Yuk daftar! !</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Hubungi Kami</h2>
            <hr class="my-4">
            <p class="mb-5">Bila anda memiliki pertanyaan atau saran,silakan hubungi kami.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3"></i>
            <p>
              <a href="mailto:easyhrd.com@gmail.com">easyhrd.com@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for ('static',filename='vendor/jquery/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for ('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for ('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}" type="text/javascript"></script>  
    <script src="{{url_for ('static',filename='vendor/scrollreveal/scrollreveal.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for ('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}" type="text/javascript"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for ('static',filename='js/creative.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for ('static',filename='js/creative.js')}}" type="text/javascript"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5a6168ff4b401e45400c3681/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


  </body>

</html>
