{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Employe {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/employe.css')}}" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="card">
<div class="content">
<div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-18">
				<li class="active">
					<a data-toggle="tab" href="#home">
						<i class="green ace-icon fa fa-user bigger-120"></i>
						Info Umum
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#info">
						<i class="orange ace-icon fa fa-plus bigger-120"></i>
						Info Tambahan
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#feed">
						<i class="orange ace-icon fa fa-pencil bigger-120"></i>
						Review
					</a>
				</li>				
				


			</ul>

			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<a href="/dashboard/edit-photo/{{employe.id}}">
								<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://easyhrd.com/static/img/profile/{{employe.image_name}}">
								</a>
							</span>

							<div class="space space-4"></div>

							<a href="/dashboard/edit-employe/{{ employe.id }}" class="btn btn-sm btn-block btn-primary">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
								<span class="bigger-110">Edit</span>
							</a>
							<a href="/dashboard/edit-photo/{{ employe.id }}" class="btn btn-sm btn-block btn-primary">
								<i class="ace-icon fa fa-camera bigger-120"></i>
								<span class="bigger-110">Change Image</span>
							</a>

							<button type="button" class="btn btn-sm btn-block btn-danger" onclick="myFunction()">
								<i class="ace-icon fa fa-times bigger-110"></i>
								<span class="bigger-110">Delete </span>
							</button>
						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">					
							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Nama </div>

									<div class="profile-info-value">
										<span>{{ employe.name }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> NIK </div>

									<div class="profile-info-value">
										<span>{{ employe.nik }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Email </div>

									<div class="profile-info-value">
										<span>{{ employe.email }}</span>
									</div>
								</div>


								<div class="profile-info-row">
									<div class="profile-info-name"> Telepon </div>

									<div class="profile-info-value">
										<span>{{ employe.phone }}</span>
									</div>
								</div>


								<div class="profile-info-row">
									<div class="profile-info-name"> Departement </div>

									<div class="profile-info-value">
										<span>{{ employe.departement }}</span>
									</div>
								</div>								

								<div class="profile-info-row">
									<div class="profile-info-name"> Gaji </div>

									<div class="profile-info-value">
										<span>{{ employe.salary }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Tanggal Bergabung </div>

									<div class="profile-info-value">
										<span>{{ employe.added.strftime("%d-%m-%Y") }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Penempatan Kerja </div>

									<div class="profile-info-value">
										<span>{{ employe.cabang }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Pendidikan </div>

									<div class="profile-info-value">
										<span>{{ employe.education }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Institusi </div>

									<div class="profile-info-value">
										<span>{{ employe.institut }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Jurusan </div>

									<div class="profile-info-value">
										<span>{{ employe.jurusan }}</span>
									</div>
								</div>						
								
							</div>
							
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="space-20"></div>

					
				</div><!-- /#home -->

				<div id="feed" class="tab-pane">
					<div class="profile-feed row">
						<div class="col-sm-12">
							{%  for review in reviews %}								
							<div class="profile-activity clearfix">
								<div>
									<i class="pull-left thumbicon fa fa-user btn-info no-hover"></i>
									<a class="user" href="#">{{ review.posted }} </a>
									Review : {{ review.review}}
									

									<div class="time">
										<i class="ace-icon fa fa-clock-o bigger-110"></i>
										{{ review.date.strftime("%d-%m-%Y") }}
									</div>
								</div>
								{% if current_user.id == review.reviewer_id %}
								<div class="tools action-buttons">
									
									<a onclick="myReview()" class="red">
										<i class="ace-icon fa fa-times bigger-125"></i>
									</a>
								</div>	
								{% elif current_user.role == "user" %}	
								<div class="tools action-buttons">
									
									<a onclick="myReview()" class="red">
										<i class="ace-icon fa fa-times bigger-125"></i>
									</a>
								</div>							
								{% else %}
								{% endif %}
								<script>
								function myReview() {
								    var x = window.confirm("Are You Sure ?");
								        if(x){
								            window.location = '/dashboard/delete-review/{{ review.id}}' ;
								        }
								        else {
								            return false;
								          }
								        }    
								</script>

							</div>
							{% endfor %}
						</div><!-- /.col -->
						{% from "includes/_formhelpers.html" import render_field %}
                               <form method="POST" enctype="multipart/form-data">
                               {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ render_field(form.review, class="form-control")}}
                                            </div>
                                        </div>
                                    </div>
                                     <div class="text-left">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Simpan</button>
                                    </div>
                                    <div class="clearfix"></div>    
                                </form>   	
						
					</div><!-- /.row -->

					<div class="space-12"></div>
					</br>
					
				</div><!-- /#feed -->

					<div id="info" class="tab-pane">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<a href="/dashboard/edit-photo/{{employe.id}}">
								<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://easyhrd.com/static/img/profile/{{employe.image_name}}">
								</a>
							</span>

							<div class="space space-4"></div>

							<a href="/dashboard/edit-employe/{{ employe.id }}" class="btn btn-sm btn-block btn-primary">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
								<span class="bigger-110">Edit</span>
							</a>
							<a href="/dashboard/edit-photo/{{ employe.id }}" class="btn btn-sm btn-block btn-primary">
								<i class="ace-icon fa fa-camera bigger-120"></i>
								<span class="bigger-110">Change Image</span>
							</a>

							<button type="button" class="btn btn-sm btn-block btn-danger" onclick="myFunction()">
								<i class="ace-icon fa fa-times bigger-110"></i>
								<span class="bigger-110">Delete </span>
							</button>
						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">					
							<div class="profile-user-info">
								
								<div class="profile-info-row">
									<div class="profile-info-name"> Tanggal Lahir </div>

									<div class="profile-info-value">
										<span>{{ employe.birth.strftime("%d-%m-%Y") }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Alamat </div>

									<div class="profile-info-value">
										<i class="fa fa-map-marker light-orange bigger-110"></i>
										<span>{{ employe.address }}</span>										
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Jenis Kelamin </div>

									<div class="profile-info-value">
										<span>{{ employe.gender }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Status</div>

									<div class="profile-info-value">
										<span>{{ employe.status }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Agama</div>

									<div class="profile-info-value">
										<span>{{ employe.religion }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">KTP</div>

									<div class="profile-info-value">
										<span>{{ employe.ktp }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">NPWP</div>

									<div class="profile-info-value">
										<span>{{ employe.npwp }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">Bank</div>

									<div class="profile-info-value">
										<span>{{ employe.bank }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">Nomor Rekening</div>

									<div class="profile-info-value">
										<span>{{ employe.no_rek }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">Nama Pemilik Rekening</div>

									<div class="profile-info-value">
										<span>{{ employe.bank_account }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">BPJS Kesehatan</div>

									<div class="profile-info-value">
										<span>{{ employe.bpjs_kesehatan }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">BPJS Ketenagakerjaan</div>

									<div class="profile-info-value">
										<span>{{ employe.bpjs_ketenagakerjaan }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="info-info"> Info Tambahan</div>

									<div class="profile-info-value">
										<span>{{ employe.notes | safe }}</span>
									</div>
								</div>


								
							</div>
							
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="space-20"></div>

					
				</div><!-- /#home -->


				
			</div>
		</div>
	</div>

</div>
</div>
<script>
function myFunction() {
    var x = window.confirm("Are You Sure ?");
        if(x){
            window.location = '/dashboard/delete-employe/{{ employe.id}}' ;
        }
        else {
            return false;
          }
        }    
</script>
{% endblock %}	
